









.Tab_block-tabs__xQk7L{display:flex}.Tab_tabs__IBKfQ{padding:15px;text-align:center;width:50%;background:rgba(128,128,128,.075);cursor:pointer;border-bottom:1px solid rgba(0,0,0,.274);box-sizing:content-box;position:relative;outline:none;margin-bottom:1.5rem}.Tab_tabs__IBKfQ:not(:last-child){border-right:1px solid rgba(0,0,0,.274)}.Tab_tabs-active__EQJxi{background:#fff;border-bottom:1px solid rgba(0,0,0,0)}.Tab_active-tabs__QjTjR::before{content:"";display:block;position:absolute;top:-5px;left:50%;transform:translateX(-50%);width:calc(100% + 2px);height:5px;background:#5893f1}button{border:none}.Tab_content-tabs__4z-PR{flex-grow:1;text-align:left}.Tab_content__vU0qR{background:#fff;padding:20px;width:100%;height:100%;display:none}.Tab_content__vU0qR p{width:100%;height:100%;padding:10px 0}.Tab_active-content__XeYH4{display:block}


