
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #6F6F6F;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #EDF1FF;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #EDF1FF;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #EDF1FF;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .table-bordered {
    border: 1px solid #EDF1FF;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #EDF1FF;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  